@inject HttpClient _client

<EditForm Model="@chat" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>To Match:</label>
            <div>
                <InputSelect @bind-Value="chat.UserDetail1Id" class="form-control">
                    <option value="">-- Select User --</option>
                    @if (UserDetails != null)
                    {
                        foreach (var userdetail in UserDetails)
                        {
                            <option value="@userdetail.Id">@userdetail.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => chat.UserDetail1Id)" />
            </div>
            <label>From User:</label>
            <div>
                <InputSelect @bind-Value="chat.UserDetail2Id" class="form-control">
                    <option value="">-- Select User --</option>
                    @if (UserDetails != null)
                    {
                        foreach (var userdetail in UserDetails)
                        {
                            <option value="@userdetail.Id">@userdetail.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => chat.UserDetail2Id)" />
            </div>
            <label>Chat: </label>
            <div>
                <InputTextArea @bind-Value="@chat.ChatMessage" class="form-control" />
                <ValidationMessage For="@(() => chat.ChatMessage)" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>

    }
    <BackToList Target="chats" />
</EditForm>

@code
 {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Chat chat { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<UserDetail> UserDetails;

    protected async override Task OnInitializedAsync()
    {
        UserDetails = await _client.GetFromJsonAsync<List<UserDetail>>($"{Endpoints.UserDetailsEndpoint}");
    }

}
